.Folder {
  padding: 5px;
  font-size: 1.5rem;
  margin: 10px 0px;
  border-radius: 3px;
  background: #f1d592;
  box-shadow: 3px 3px;
}

.FolderLink {
  text-decoration: none;
  color: black;
}

.Folder:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px;
}

.Folder:active {
  cursor: pointer;
  transform: translate(0px, 0px);
  box-shadow: 3px 3px;
}

.FolderSelected {
  padding: 5px;
  font-size: 1.5rem;
  margin: 10px 0px;
  border-radius: 3px;
  background: #f1d592;
  box-shadow: 3px 3px;
  border: 5px solid red;
}
