.GoBack {
  padding: 5px;
  font-size: 1.5rem;
  margin: 10px 0px;
  border-radius: 3px;
  background: lightcoral;
  box-shadow: 3px 3px;
}

.GoBackLink {
  text-decoration: none;
  color: black;
}

.GoBack:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px;
}

.GoBack:active {
  cursor: pointer;
  transform: translate(0px, 0px);
  box-shadow: 3px 3px;
}
