* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #f2f3f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 10px;
  flex: 1;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-basis: 250px;
  padding: 10px;
}

.UlNav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}
